html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 10px; }

#header-pane {
  width: 1024px;
  height: 60px; }
  #header-pane #title {
    font-size: 4em; }
  #header-pane #user-info {
    float: right; }

.data-display {
  font-size: 1.5em; }

#tools-pane {
  width: 240px;
  height: 500px;
  float: left;
  padding: .5em; }

#map-pane {
  width: 750px;
  height: 500px; }
  #map-pane #map-canvas {
    width: 750px;
    height: 500px; }

label.loc-labels {
  width: 238px;
  float: left; }

#title {
  width: 824px;
  float: left; }

div.title {
  font-size: 1.5em; }

.location {
  font-size: 1.3em;
  border: 1px solid #999;
  padding: 0.25em;
  margin: 0.15em; }
  .location .location-name {
    padding-left: 18px;
    margin-left: 5px;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    width: 195px; }

.loc-type-point {
  background-image: url("../images/marker.png");
  height: 16px;
  width: 16px;
  background-position: 0 0px;
  background-repeat: no-repeat; }

.loc-type-extent {
  background-image: url("../images/extent.png");
  height: 16px;
  width: 16px;
  background-position: 0 0px;
  background-repeat: no-repeat; }
