html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	width: 750px;
	height: 500px;
	border: thin;
	/*float: left;*/
}


/*
#map_info {
	padding: .5em;
}
#location-form {
	width: 202px;
}
label.loc-labels {
	width: 30px;
	float: left;
}
#saved-locations {
	width: 202px;
	float: left;
}
.location {
	width: 200px;
	float: left;
	border: thin solid blue;
	margin: 1px;
	padding: 3px;
}*/