<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>GeoLocations 507</title>
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
		<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false"></script>
		<script type="text/javascript" charset="utf-8">
			console.debug('Just loaded Google API')
		</script>
		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		
		<script src="/js/json2.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>

		{% block head %}
		{% endblock %}
	</head>
	<body onload="initialize()">
		<div id="header-pane">
			<div id="title">
				GeoLocations 507
			</div>
			<div id="user-info">
				<div id="username">
					{{ username }}
				</div>
				<div id="user-actions">
					<a href="{{ logoff_url }}">Logout</a>
				</div>
			</div>
		</div>
		<div id="tools-pane">
			{% block tools %}
			{% endblock %}
		</div>
		<div id="map-pane">
			{% block map %}
			{% endblock %}
		</div>
		
		<div id="footer-pane">
			Version 0.5.0 
		</div>
		{% block hidden_pane %}
		{% endblock %}
	</body>
</html>