{% extends "base.html" %}
{% block head %}
<script src="/js/gl-google-maps.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery-locations.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">$(document).ready(onJQueryDocumentReady);</script>
{% endblock %}
{% block tools %}
<div id="map_info">
	<form id="location-form">
		<label for="name" class="loc-labels">Name:</label>
		<input id="loc-name" name="loc-name" type="text">
		<br/>
		<label for="lat-display"  class="loc-labels">Latitude:</label>
		<div id="lat-display" class="data-display"></div>
		<label for="lng-display" class="loc-labels">Longitude:</label>
		<div id="lng-display" class="data-display"></div>
		<label for="zoom-display" class="loc-labels">Zoom:</label>
		<div id="zoom-display" class="data-display"></div>
		<input type="hidden" name="latitude" value="" id="latitude"/>
		<input type="hidden" name="longitude" value="" id="longitude"/>
		<input type="hidden" name="zoom" value="" id="zoom"/>
		<div>
			<input type="submit" value="Save Location">
		</div>
	</form>
</div>
<div id="locations-pane">
	<div class="title">
		Locations
	</div>
	<div id="saved-locations">

	</div>

</div>
<div id="debug-window">
	<div>
		Debug Windows
	</div>
	<div id="debug-output"></div>
</div>

{% endblock %}
{% block map %}
<div id="map-canvas" ></div>
{% endblock %}
{% block hidden_pane %}
<div id="dialog-message" title="Add Point">
	<form id="point-form">
		<label for="point-name" >Name:</label>
		<input id="point-name" name="point-name" type="text">
		<br/>
		<label for="lat-display-point" >Latitude:</label>
		<div id="lat-display-point" ></div>
		<label for="lng-display-point" >Longitude:</label>
		<div id="lng-display-point" ></div>
		<label for="zoom-display-point" >Zoom:</label>
		<div id="zoom-display-point" ></div>
		<input type="hidden" name="latitude-point" value="" id="latitude"/>
		<input type="hidden" name="longitude-point" value="" id="longitude"/>
		<input type="hidden" name="zoom-point" value="" id="zoom"/>
	</form>
</div>
{% endblock %}
