{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
	var map;
	//$('body').load(initialize);
	function updateFormDate(map) {
	$("#latitude").attr("value",map.getCenter().lat());
	$("#longitude").attr("value",map.getCenter().lng());
	$("#zoom").attr("value",map.getZoom());
	}
	function initialize() {
		console.log("Map Initialize");
	var myOptions= {
	center:new google.maps.LatLng(8.9,-80.2),zoom:8,mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	map=new google.maps.Map(document.getElementById("map-canvas"),myOptions);
	google.maps.event.addListener(map,'center_changed', function() {
	// 3 seconds after the center of the map has changed, pan back to the
	// marker.
	window.setTimeout(function() {
	updateFormDate(map)
	},1000);
	});
	google.maps.event.addListener(map,'bounds_changed', function() {
	// 3 seconds after the center of the map has changed, pan back to the
	// marker.
	window.setTimeout(function() {
	updateFormDate(map)
	},1000);
	});
	google.maps.event.addListener(map,'click', function(event) {
	placeMarker(event.latLng);
	});
	updateFormDate(map)
	}
	function placeMarker(location) {
	var marker=new google.maps.Marker({
	position:location,map:map
	});
	}
	$(document).ready(function() {
	console.log("JQUERY Init");
	initialize();
	$("#location-form").submit(function(e) {
	e.preventDefault();
	var dataString=$(this).serialize();
	$("#debug-output").text(dataString);
	$.ajax({
	type:"POST",url:"/add-location.html",dataType:"json",data:dataString,success: function(data) {
	alert("Saved "+data.date+" id: "+data.id);
	},error: function(jqXHR,textStatus,errorThrown) {
	alert("Error: "+errorThrown+"\nTextStatus: "+textStatus)
	}
	});
	});
	$.ajax({
	type:"GET",url:"/list-locations.json",dataType:"json",success:loadLocations
	});
	});
</script>
{% endblock %}

{% block map %}
<div id="map-canvas" ></div>
{% endblock %}