<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/css/mappage.css">
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false">
    </script>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<script type="text/javascript">
	var map;
    function updateFormDate(map){
    	$("#latitude").attr("value",map.getCenter().lat());
    	$("#longitude").attr("value",map.getCenter().lng());
    	$("#zoom").attr("value", map.getZoom());
     }
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(8.9, -80.2),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
      
        google.maps.event.addListener(map, 'center_changed', function() {
            // 3 seconds after the center of the map has changed, pan back to the
            // marker.
            window.setTimeout(function() {
            	updateFormDate(map)
            	
            }, 1000);
          });
        google.maps.event.addListener(map, 'bounds_changed', function() {
            // 3 seconds after the center of the map has changed, pan back to the
            // marker.
            window.setTimeout(function() {
            	updateFormDate(map)
            	
            }, 1000);
          });
        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
          });
        updateFormDate(map)
      }   
        function placeMarker(location) {
      	  var marker = new google.maps.Marker({
      	      position: location,
      	      map: map
      	  });
      }
        function deleteLocation(event){
			//alert("Delete " + event.data.id + " is not implemented");
			dataString = "id=" + event.data.id
        	$.ajax({
                type: "POST",
                url: "/delete-locations.json",
                dataType: "json",
                data: dataString,
                success: function(data){
                		var ename = "#location_" + event.data.id;
                		$(ename).remove();
                		//alert("Deleted " + data.date + " id: " + data.id);
            		},
            	 error: function(jqXHR, textStatus, errorThrown){
                   	 alert("Error: " +  errorThrown +"\nTextStatus: " + textStatus)
            		}
            });
        }
        function zoomToLocation(event){
            //alert(event.data.name);
            center = new google.maps.LatLng(event.data.latitude, event.data.longitude)
            map.setCenter(center);
            map.setZoom(event.data.zoom);
            
        }                
 	  function loadLocations(data){
 	 	  $('#saved-locations').empty()
 	 	  for (var i=0; i< data.length;i++){
 	 	 	  locationDiv = $('<div/>',{'class': 'location',
 	 	 	 	  			'id': 'location_' +data[i].id});
 	 	 	  locationNameDiv =  $('<div/>',{'class': 'location-name'});
 	 	 	  locationNameDiv.text(data[i].name);
 	 	 	  locationDiv.append(locationNameDiv)
 	 	 	  //Zoom Button
 	 	 	  zoomButton = $('<button/>',{'class': 'zoom'});
 	 	 	  zoomButton.text('Zoom');
 	 	 	  zoomButton.bind('click',{
 	 	 	 	  				id  : data[i].id,
 	 	 	 	  				name : data[i].name,
 	 	 	 	  				latitude : data[i].latitude,
 	 	 	 	  				longitude : data[i].longitude,
 	 	 	 	  				zoom : data[i].zoom},
 	 	 	 	  				zoomToLocation);
 	 	 	  deleteButton = $('<button/>',{'class': 'delete'});
 	 	 	  deleteButton.text('Delete');
 	 	 	  deleteButton.bind('click',{
	 	 	 	  				id  : data[i].id,
	 	 	 	  				name : data[i].name},
	 	 	 	  				deleteLocation);
 	 	 	  locationDiv.append(locationNameDiv);
 	 	 	  locationDiv.append(zoomButton);
 	 	 	  locationDiv.append(deleteButton);
 	 		$('#saved-locations').append(locationDiv)	  
 	 	  }
 	  }
      $(document).ready(function() {
          $("#location-form").submit(function(e){
              e.preventDefault();
              var  dataString = $(this).serialize();
              $("#debug-output").text(dataString);
              $.ajax({
                  type: "POST",
                  url: "/add-location.html",
                  dataType: "json",
                  data: dataString,
                  success: function(data){
                  		alert("Saved " + data.date + " id: " + data.id);
              		},
              	 error: function(jqXHR, textStatus, errorThrown){
                     	 alert("Error: " +  errorThrown +"\nTextStatus: " + textStatus)
              		}
              });
          });
          $.ajax({
              type: "GET",
              url: "/list-locations.json",
              dataType: "json",
              success: loadLocations
                  });
      });
     
    </script>
</head>
<body onload="initialize()">
	<h1>{{ title }}</h1>
	<div id="map_canvas" ></div>
	<div id="map_info">
			Center: <span id="map_center">Center</span> <br/>
			Zoom: <span id="map_zoom">Zoom</span> <br/>
			<form id="location-form">
				<label for="name" class="loc-labels">Name:</label>
				<input id="name" name="name" type="text"><br/>
				<label for="latitude"  class="loc-labels">Latitude:</label>
				<input id="latitude" name="latitude" type="text"><br/>
				<label for="longitude" class="loc-labels">Longitude:</label>
				<input id="longitude" name="longitude" type="text"><br/>
				<label for="zoom" class="loc-labels">Zoom:</label>
				<input id="zoom"  name="zoom" type="text"><br/>
				<div><input type="submit" value="Save Location"></div>
			</form>
	</div>
	<div id="saved-locations">
		<div class="title">Locations for {{ username }}</div>
	</div>
	<div id="debug-window">
		<div>Debug Windows</div>
		<div id="debug-output"></div>
	</div>
</body>
</html>